body,
html {
  margin: 0;
  padding: 0;
}

main,
main>div,
canvas {
  position: absolute;
}

main,
main>.board-part {
  overflow: hidden;
}

main *:not(.player) {
  transition-timing-function: linear;
}

canvas.frontFaces,
.piece:not(.player) {
  &:hover {
    cursor: pointer;
  }
}

main>.board-part:not(canvas) {
  top: 0;
  width: inherit;
}

canvas {
  left: 0;
}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
}

.board-part>canvas {
  bottom: 0;
}

.board-part:not(.frontFaces):not(.frontFaces-container) {
  pointer-events: none;
}

.piece {
  left: 0;
  bottom: 0;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.player {
  transition-timing-function: ease-out;
}

.player-container {
  bottom: 0;
  left: 0;
  z-index: 500;
}

.ennemy-container {
  z-index: 300;
}