main {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  /* transform: skew(-14deg, 6deg) scaleY(1) translate(-50%, -50%); */
  overflow: hidden;
}

main,
canvas,
.piece,
.trick-container {
  position: absolute;
}

main *:not(.player) {
  transition-timing-function: linear;
}

canvas,
.piece:not(.player) {
  &:hover {
    cursor: pointer;
  }
}

.trick-container {
  left: -1px;
}

canvas {
  left: 0;
}

canvas.boardBottom,
canvas.trick {
  pointer-events: none;
}

canvas.trick {
  z-index: 300;
}

canvas.boardBottom {
  z-index: 500;
}

.trick-container {
  overflow: hidden;
}

.piece {
  z-index: 700;
  left: 0;
  bottom: 0;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.player {
  z-index: 990;
  transition-timing-function: ease-out;
}